<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regist Page</title>
  </head>
  <body>
    <h2>Regist Page</h2>
    <form action="/auth/regist">
      <ul>
        <label for="username">user name</label>
        <input type="text" id="username" name="username" />
        <br />
        <label for="email">email</label>
        <input type="email" id="email" name="email" />
        <br />
        <label for="password">password</label>
        <input type="password" id="password" name="password" />
        <hr />
        <input type="submit" />
      </ul>
    </form>
  </body>
</html>
